/* RESET + GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.debug {
  border: 1px solid black;
  background-color: rgba(255, 0, 0, 0.25);
}

h1 {
  font-size: 4.5rem;
}


p {
 line-height: 1.6;
}

.container {
  max-width: 75%;
  margin: 0 auto;
  width: 100%;
}

.btn {
  background-color: white;
  color: black;
  padding: 15px 30px;
  border-radius: 100000px;
}

.btn:hover {
  background-color: hsl(0, 0%, 60%);
  cursor: pointer;
}

.btn.btn-reverse {
  background-color: black;
  color: white;
}

.btn.btn-reverse:hover {
  background-color: hsl(0, 0%, 50%);
  cursor: pointer;
}

ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
}

/* HEADER */

header {

  /* Height da rimovere una volta messi i contenuti */
  height: 200px; 
  background-color: #265ee8;
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
}

.logo img {
  height: 50px;
}

.menu ul {
  display: flex;
}

.menu ul li a {
  padding: 0 15px;
}

.menu ul li a:hover {
  text-decoration: underline;
}

/* JUMBO */

.jumbo {
  height: 680px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container-jumbo {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 100px;
  font-size: 1.5rem;
  color: white;
}

.container-jumbo h1 {
  margin-bottom: 45px;
}

.container-jumbo p {
  margin-bottom: 45px;
}

.fa-solid.fa-down-long {
  font-size: 1.2rem;
  vertical-align: middle;
  margin-right: 15px;
}

span:first-child {
  margin-right: 25px;
}

/* MAIN SECTIONS */

.white-section, .grey-section {
  padding: 100px 0;
  display: flex;
  align-items: center;
}

.container-img-left {
  display: flex;
  justify-content: space-around;
}

.container-img-left .info, .container-img-right .info {
  flex-basis: 25%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.info h2 {
  font-size: 4rem;
  margin-bottom: 30px;
}

.info p {
  font-size: 1.5rem;
}

.wave {
  background: url(../img/wave.svg);
  height: 120px;
}

.wave-1 {
  background: url(../img/wave.svg);
  height: 120px;
  transform: rotate(180deg);
}

.grey-section {
  background-color: #f6f6f6;
}

.container-img-right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

/* BOTTOM SECTION */

.white-section.section-bottom {
  background-color: #f6f6f6;
}

.container-img-left.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.img-bottom {
  width: 1200px;
}

.btn-bottom {
  background-color: hsl(226, 45%, 60%);
  color: white;
}

.container-img-left.bottom .info {
  text-align: center;
  margin-top: 50px;
}

.container-img-left.bottom .img {
  margin-bottom: 30px;
}

.container-img-left.bottom h3::before{
  content: url(../img/stars.svg);
  display: inline-block;
  width: 30px;
  margin-bottom: 2px;

}


.container-img-left.bottom h3 {
  margin-bottom: 50px;
}

/* FOOTER */

footer li {
  margin-bottom: 20px;
}

footer {
  background-color: #23272a;
  color: white;
  padding: 50px 0;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
}

.container.footer-menu {
  width: 60%;
  font-size: 1.5rem;
}

.language-selection {
  display: flex;
  flex-direction: column;
}

.language-selection h4 {
  margin-bottom: 20px;
  color: #7289da;
  font-size: 2rem;
}

.language-selection span:first-of-type {
  margin-bottom: 20px;
}

.language-selection span:first-of-type img {
  height: 20px;
  margin-right: 5px;
}

.icone a {
  color: white;
  margin-right: 15px;
}

footer li:first-child a {
  color: #7289da;
}

footer li:first-child {
  margin-bottom: 10px;
}

/* SUB-FOOTER */

.sub-footer {
  background-color: #23272a;
  height: 250px;
}

.footer-1 {
  width: 60%;
  font-size: 1.5rem;
  border-top: 2px solid grey;
}

.container.footer-1 {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 25px 0;
}